@font-face {
  font-family: "Gotham";
  src: url("../resources/fonts/gotham-book.woff2") format("woff2");
  font-weight: 100 400;
}
@font-face {
  font-family: "Gotham";
  src: url("../resources/fonts/gotham-medium.woff2") format("woff2");
  font-weight: 500 900;
}
body {
  margin: 0;
  font-family: Gotham;
}

.mobile-invisible {
  display: none;
}

.mobile-invisible-flex {
  display: none;
}

.desktop-invisible {
  display: block;
}

.generic-link {
  line-height: 1.25rem;
  text-underline-offset: 4px;
  color: rgb(57, 60, 65);
}
.generic-link:hover {
  color: rgb(23, 26, 32);
  text-decoration-thickness: 2px;
}

/* styles for white element on the very top of the page and menu / nav right under it */
.the-header {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
}

.header-top {
  padding: 16px;
  box-sizing: border-box;
  text-align: center;
  background-color: white;
  box-shadow: rgb(208, 209, 210) 0px 0px 1px 0px;
  font-size: 0.875rem;
}

.header-bottom {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
}

.header-bottom__logo-container {
  display: block;
  width: 120px;
  margin-left: 24px;
}

.header-bottom__logo-img {
  display: block;
  width: 100%;
}

.header-bottom__right-nav {
  margin-right: 8px;
}

.header-bottom__menu-button {
  font-family: Gotham;
  padding: 9px 17px;
  background: rgba(0, 0, 0, 0.05);
  border: none;
  font-size: 0.875rem;
  font-weight: bold;
  border-radius: 12px;
  line-height: 100%;
}
.header-bottom__menu-button:hover {
  background: rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.header-bottom__moving-background {
  position: absolute;
  top: 12px;
  width: 100px;
  height: 32px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 300ms;
}

.main-menu-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  transition: background-color 300ms, backdrop-filter 300ms;
}

.main-menu-background--visible {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
}

.main-menu {
  position: absolute;
  right: -300px;
  width: 300px;
  padding: 20px 20px 256px;
  height: 100vh;
  box-sizing: border-box;
  background: #fff;
  overflow: auto;
  transition: right 300ms, opacity 300ms;
  opacity: 0;
}

.main-menu--visible {
  right: 0;
  opacity: 1;
}

.main-menu__button {
  border: none;
  background-color: transparent;
  transition: background-color 300ms, color 300ms;
}
.main-menu__button:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

.main-menu__close-button-container {
  display: flex;
  justify-content: flex-end;
  height: 40px;
  margin-bottom: 20px;
}

.main-menu__close-button {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 50%;
}

.main-menu__close-img {
  width: 24px;
}

.main-menu__links-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-menu__links-list-item {
  margin-bottom: 8px;
}

.main-menu__links-list-link {
  display: block;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  padding: 8px 14px;
  border-radius: 12px;
  font-size: 0.875rem;
  font-weight: bold;
  color: rgb(57, 60, 65);
  text-decoration: none;
  line-height: 100%;
}
.main-menu__links-list-link:hover {
  color: rgb(20, 20, 20);
}

.main-menu__more-button {
  display: flex;
  justify-content: space-between;
}

.main-menu__more-svg {
  width: 17px;
  height: 17px;
}

.main-menu__language-button {
  display: flex;
}

.main-menu__language-svg {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.main-menu__current-language {
  display: block;
  margin-top: 4px;
  color: rgb(92, 94, 98);
  font-size: 0.825rem;
  font-weight: normal;
  transition: color 300ms, text-decoration 300ms;
}
.main-menu__current-language:hover {
  color: rgb(20, 20, 20);
  text-decoration: 2px underline;
  text-underline-offset: 3px;
}

@media (min-width: 1200px) {
  .header-bottom__logo-container {
    margin-left: 48px;
    margin-right: 99px;
  }
  .header-bottom__desktop-nav-element {
    display: block;
    padding: 9px 17px;
    color: rgb(20, 20, 20);
    font-weight: bold;
    font-size: 0.875rem;
    text-decoration: none;
    line-height: 100%;
    border-radius: 12px;
  }
  .header-bottom__right-nav {
    display: flex;
    margin-right: 32px;
  }
  .header-bottom__menu-button {
    background-color: transparent;
  }
  .header-bottom__menu-button:hover {
    background-color: transparent;
  }
}
.the-main {
  position: relative;
}

.the-main__top-container {
  position: fixed;
  top: 19vh;
  text-align: center;
  width: 100%;
}

.the-main__top-header {
  position: relative;
  top: 0;
  font-size: 2.5rem;
  color: rgb(23, 26, 32);
  margin: 0 0 8px;
  transition: 500ms;
}

.the-main__top-header--hidden {
  top: -50px;
  opacity: 0;
}

.the-main__top-span {
  position: relative;
  top: 0;
  transition: 500ms;
  color: rgb(57, 60, 65);
  font-size: 0.875rem;
}

.the-main__top-span--hidden {
  top: 50px;
  opacity: 0;
}

.the-main__buttons-container {
  position: fixed;
  top: 78vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.the-main__info-button {
  position: relative;
  left: 0;
  transition: 500ms;
  display: block;
  width: 90%;
  padding: 14px 0;
  box-sizing: border-box;
  border-radius: 30px;
  font-size: 0.75rem;
  background-color: rgba(23, 26, 32, 0.8);
  color: #fff;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  line-height: 100%;
}
.the-main__info-button:first-of-type {
  margin: 0 0 16px;
}

@media (min-width: 680px) {
  .the-main__buttons-container {
    top: 82.5vh;
  }
  .the-main__info-button {
    width: 264px;
  }
  .the-main__info-button:first-of-type {
    margin: 0 32px 0 0;
  }
}
.the-main__info-button--hidden {
  display: none;
}

.the-main__info-button-shop-now {
  background-color: rgb(23, 26, 32);
}

.the-main__info-button--white {
  background-color: rgba(244, 244, 244, 0.65);
  color: rgb(57, 60, 65);
}

.the-main__info-button-left--hidden {
  left: -100px;
  opacity: 0;
}

.the-main__info-button-right--hidden {
  left: 100px;
  opacity: 0;
}

.the-main__go-down-button {
  transition: 800ms;
  position: fixed;
  top: 93vh;
  left: 50%;
  padding: 12px;
  transform: translate(-50%, 0);
  border: none;
  background: none;
}
.the-main__go-down-button:hover {
  cursor: pointer;
}

.the-main__go-down-button--hidden {
  opacity: 0;
}

@keyframes moving-arrow {
  0% {
    top: 0;
  }
  5% {
    top: 5px;
  }
  10% {
    top: 0px;
  }
  15% {
    top: 4px;
  }
  25% {
    top: 0;
  }
  100% {
    top: 0;
  }
}
.the-main__go-down-svg {
  position: relative;
  width: 24px;
  height: 24px;
  animation: moving-arrow 4s 1s linear infinite;
}

.the-main__product {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.the-main__tab-accessibility-button-top,
.the-main__tab-accessibility-button-bottom {
  position: fixed;
  top: -9999px;
  pointer-events: none;
  opacity: 0;
}

@media (max-width: 679px) {
  .the-main__product--model-3 {
    background-image: url("../resources/mobile/model-3-mobile.jpg");
  }
  .the-main__product--model-y {
    background-image: url("../resources/mobile/model-y-mobile.jpg");
  }
  .the-main__product--model-s {
    background-image: url("../resources/mobile/model-s-mobile.jpg");
  }
  .the-main__product--model-x {
    background-image: url("../resources/mobile/model-x-mobile.jpg");
  }
  .the-main__product--solar-panels {
    background-image: url("../resources/mobile/solar-panels-mobile.jpg");
  }
  .the-main__product--solar-roof {
    background-image: url("../resources/mobile/solar-roof-mobile.jpg");
  }
  .the-main__product--accessories {
    background-image: url("../resources/mobile/accessories-mobile.jpg");
  }
}
@media (min-width: 680px) {
  .the-main__product--model-3 {
    background-image: url("../resources/desktop/model-3.jpg");
  }
  .the-main__product--model-y {
    background-image: url("../resources/desktop/model-y.jpg");
  }
  .the-main__product--model-s {
    background-image: url("../resources/desktop/model-s.jpg");
  }
  .the-main__product--model-x {
    background-image: url("../resources/desktop/model-x.jpg");
  }
  .the-main__product--solar-panels {
    background-image: url("../resources/desktop/solar-panels.jpg");
  }
  .the-main__product--solar-roof {
    background-image: url("../resources/desktop/solar-roof.jpg");
  }
  .the-main__product--accessories {
    background-image: url("../resources/desktop/accessories.jpg");
  }
}
.the-footer {
  position: absolute;
  bottom: 22px;
  width: 100%;
}

.the-footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0 32px;
  list-style: none;
}

.the-footer__list-item {
  margin-top: 8px;
}
.the-footer__list-item:not(.the-footer__list-item:last-of-type) {
  margin-right: 16px;
}

.the-footer__link {
  color: rgb(92, 94, 98);
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: bold;
}

@media (min-width: 1200px) {
  .desktop-invisible {
    display: none;
  }
  .mobile-invisible-flex {
    display: flex;
  }
  .mobile-invisible {
    display: block;
  }
}

/*# sourceMappingURL=main.css.map */
