/* styles for white element on the very top of the page and menu / nav right under it */

.the-header {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
}

.header-top {
  padding: 16px;
  box-sizing: border-box;
  text-align: center;
  background-color: white;
  box-shadow: rgb(208, 209, 210) 0px 0px 1px 0px;
  font-size: 0.875rem;
}

.header-bottom {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
}

.header-bottom__logo-container {
  display: block;
  width: 120px;
  margin-left: 24px;
}

.header-bottom__logo-img {
  display: block;
  width: 100%;
}

.header-bottom__right-nav {
  margin-right: 8px;
}

.header-bottom__menu-button {
  font-family: Gotham;
  padding: 9px 17px;
  background: rgba(0, 0, 0, 0.05);
  border: none;
  font-size: 0.875rem;
  font-weight: bold;
  border-radius: 12px;
  line-height: 100%;
  &:hover {
    background: rgba(0, 0, 0, 0.06);
    cursor: pointer;
  }
}

.header-bottom__moving-background {
  position: absolute;
  top: 12px;
  width: 100px;
  height: 32px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 300ms;
}