.main-menu-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  transition: background-color 300ms, backdrop-filter 300ms;
}
.main-menu-background--visible {
  background: rgba(0, 0, 0, 0.3);
  // this filter causes considerable lag on lower end hardware
  backdrop-filter: blur(4px);
}

.main-menu {
  position: absolute;
  right: -300px;
  width: 300px;
  padding: 20px 20px 256px;
  height: 100vh;
  box-sizing: border-box;
  background: #fff;
  overflow: auto;
  transition: right 300ms, opacity 300ms;
  opacity: 0;
}
.main-menu--visible {
  right: 0;
  opacity: 1;
}

.main-menu__button {
  border: none;
  background-color: transparent;
  transition: background-color 300ms, color 300ms;
  &:hover {
    cursor: pointer;
    background-color: #f2f2f2;
  }
}

.main-menu__close-button-container {
  display: flex;
  justify-content: flex-end;
  height: 40px;
  margin-bottom: 20px;
}

.main-menu__close-button {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 50%;
}

.main-menu__close-img {
  width: 24px;
}

.main-menu__links-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-menu__links-list-item {
  margin-bottom: 8px;
}

.main-menu__links-list-link {
  display: block;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  padding: 8px 14px;
  border-radius: 12px;
  font-size: 0.875rem;
  font-weight: bold;
  color: rgb(57, 60, 65);
  text-decoration: none;
  line-height: 100%;
  &:hover {
    color: rgb(20, 20, 20);
  }
}

.main-menu__more-button { 
  display: flex;
  justify-content: space-between;
}

.main-menu__more-svg {
  width: 17px;
  height: 17px;
}

.main-menu__language-button {
  display: flex;
}

.main-menu__language-svg {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.main-menu__current-language {
  display: block;
  margin-top: 4px;
  color: rgb(92, 94, 98);
  font-size: 0.825rem;
  font-weight: normal;
  transition: color 300ms, text-decoration 300ms;
  &:hover {
    color: rgb(20, 20, 20);
    text-decoration: 2px underline;
    text-underline-offset: 3px;
  }
}
