body {
  margin: 0;
  font-family: Gotham;
}

.desktop-invisible {
  display: none;
}
.desktop-invisible-flex {
  display: none;
}

@media(min-width: 1200px) {
  .desktop-invisible {
    display: block;
  }
  .desktop-invisible-flex {
    display: flex;
  }
}