body {
  margin: 0;
  font-family: Gotham;
}

.mobile-invisible {
  display: none;
}
.mobile-invisible-flex {
  display: none;
}

.desktop-invisible {
  display: block;
}

.generic-link {
  line-height: 1.25rem;
  text-underline-offset: 4px;
  color: rgb(57, 60, 65);
  &:hover {
    color: rgb(23, 26, 32);
    text-decoration-thickness: 2px;
  }
}