@font-face {
  font-family: "Gotham";
  src: url("../resources/fonts/gotham-book.woff2") format("woff2");
  font-weight: 100 400;
}

@font-face {
  font-family: "Gotham";
  src: url("../resources/fonts/gotham-medium.woff2") format("woff2");
  font-weight: 500 900;
}
