.the-main {
  position: relative;
}

.the-main__top-container {
  position: fixed;
  top: 19vh;
  text-align: center;
  width: 100%;
}

.the-main__top-header {
  position: relative;
  top: 0;
  font-size: 2.5rem;
  color: rgb(23, 26, 32);
  margin: 0 0 8px;
  transition: 500ms;
}
.the-main__top-header--hidden {
  top: -50px;
  opacity: 0;
}

.the-main__top-span {
  position: relative;
  top: 0;
  transition: 500ms;
  color: rgb(57, 60, 65);
  font-size: 0.875rem;
}
.the-main__top-span--hidden {
  top: 50px;
  opacity: 0;
}

.the-main__buttons-container {
  position: fixed;
  top: 82.5vh;
  display: flex;
  justify-content: center;
  width: 100%;
}

.the-main__info-button {
  position: relative;
  left: 0;
  transition: 500ms;
  display: block;
  width: 264px;
  padding: 14px 0;
  box-sizing: border-box;
  border-radius: 30px;
  font-size: 0.750rem;
  background-color: rgba(23, 26, 32, 0.8);
  color: #fff;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  line-height: 100%;
  &:first-of-type {
    margin-right: 38px;
  }
}
.the-main__info-button--white {
  background-color: rgba(244, 244, 244, 0.65);
  color: rgb(57, 60, 65);
}
.the-main__info-button-left--hidden {
  left: -100px;
  opacity: 0;
}
.the-main__info-button-right--hidden {
  left: 100px;
  opacity: 0;
}

.the-main__go-down-button {
  transition: 800ms;
  position: fixed;
  top: 93vh;
  left: 50%;
  padding: 12px;
  transform: translate(-50%, 0);
  border: none;
  background: none;
  &:hover {
    cursor: pointer;
  }
}
.the-main__go-down-button--hidden {
  opacity: 0;
}

@keyframes moving-arrow {
  0% { top: 0; }
  5% { top: 5px; }
  10% { top: 0px; }
  15% { top: 4px; }
  25% { top: 0; }
  100% { top: 0; }
}

.the-main__go-down-svg {
  position: relative;
  width: 24px;
  height: 24px;
  animation: moving-arrow 4s 1s linear infinite;
}

.the-main__product {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.the-main__product--model-3 {
  background-image: url('../resources/desktop/model-3.jpg');
}

.the-main__product--model-y {
  background-image: url('../resources/desktop/model-y.jpg');
}

.the-main__product--model-s {
  background-image: url('../resources/desktop/model-s.jpg');
}

.the-main__product--model-x {
  background-image: url('../resources/desktop/model-x.jpg');
}

.the-main__product--solar-panels {
  background-image: url('../resources/desktop/solar-panels.jpg');
}

.the-main__product--solar-roof {
  background-image: url('../resources/desktop/solar-roof.jpg');
}

.the-main__product--accessories {
  background-image: url('../resources/desktop/accessories.jpg');
}